body {
    background: darkblue;
}

header {
    border: 1px green solid;
    /* background: gray; */
    display: flex;
    flex-direction: column;
    height: 15vh;
    background-image: linear-gradient(180deg, #ec3343, #ec3343 60%, #3f1898), url(/images/Cumulus_clouds_panorama.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    /* width:640px;
    height:350px; */

}

/* header > div{
    border: 2px green solid;
} */

header .my-name{
    margin-left: 1.25em;
    height: 75%;
    color: lightgray;
    mix-blend-mode: difference;
    font-family: 'Pacifico', cursive;
}

.nav{
    height: 25%;
    display: flex;
    margin-left: 2em;
}

.nav a{
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    /* border: 1px black solid; */
    color: lightgray;
    mix-blend-mode: difference;
}

.main-top{
    display: flex;
    background: lightgray;
    justify-content: center;
    height: 30vh;
  }
  
.main-top div{
    border: 1px dashed black;
}

div .img-container {
    background: red;
    width: 50%;
    background-image: url("/images/mac-code-img.jpg");
    background-size: cover;
}

.main-top > div > img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.intro-text {
    background: linear-gradient(#3f1898,#ec3343);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    color: lightgray;
    font-family: 'Courgette', cursive;
}

.intro-text p {
    font-size: 1.3rem;
    width: 89%;
    margin-left: 4vw;
}
.intro-text h2 {
    width: 50%;
    margin-left: 4vw;
}

.intro-text a {
    margin-left: 4vw;
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 1vh;
    width: 4vw;
    text-align: center;
    box-shadow: black;
}

.intro-text a:hover {
    background: linear-gradient(#3f1898,blue);
    box-shadow: 1px 1px 8px #888888;
}

.main-bottom{
    display: flex;
    flex-wrap: wrap;
}

.project-box{
  flex: 1 0 20%; /* explanation below */
  margin: 5px;
  height: 30vh;
  background-color: blue;
  background-image: url(https://picsum.photos/400/400);
  background-blend-mode: multiply;
  background-size: cover;
}


a > img {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}




